Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# loading the dataset to a pandas DataFrame
credit_card_data = pd.read_csv('creditcard.csv')

In [3]:
# printing first 5 rows
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# printing last 5 rows
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
# check for missing values in the dataset
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

We do not have any missing values in this given dataset

In [7]:
# checking the distribution of legit transactions and fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

There are 2,84,315 legit transactions and 492 fraudulent transactions. We can conclude that this data is highly unbalanced.

Class value[0] -> legit transactions

Class value[1] -> fraudulent transactions

In [8]:
# separating the data for analysis
normal = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
# statistical measures of the data
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
# comparing the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Using these mean values, our model can check if the transaction is legit or fraud

Now we will perform under-sampling to deal with this unbalanced data.

We will build a sample dataset containing similar distribution of Normal and Fraudulent transactions

Number of Fraud transactions ==> 492

In [13]:
# taking 492 datapoints randomly from normal transactions dataframe
normal_sample = normal.sample(n=492)

Concatenating this DataFrame with the Fraud transactions DataFrame

In [14]:
new_dataset = pd.concat([normal_sample, fraud], axis=0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
199963,133219.0,-0.560317,0.760319,-0.370783,0.210086,0.349194,-0.987098,1.286161,-0.285350,-0.024329,...,0.255655,0.930750,-0.211757,-0.159078,-0.215166,0.014941,0.372942,0.262387,135.80,0
123935,77118.0,-0.451835,0.263224,1.321221,-1.236147,-0.094430,-0.618279,0.384252,0.249530,-0.072303,...,0.057578,-0.075263,0.054694,0.209542,-0.477123,0.755813,-0.069600,0.011975,20.00,0
162535,115206.0,1.945815,-0.091216,-0.316160,0.647254,-0.652998,-0.675337,-0.641926,-0.077150,1.281694,...,0.022661,0.346840,0.231399,-0.027760,-0.336163,-0.421808,0.082608,0.005123,9.99,0
52598,45548.0,-0.924485,0.998534,2.451302,-0.059466,-0.354458,-0.216718,0.366242,0.053295,-0.313825,...,0.052620,0.042900,-0.128338,0.411019,-0.061221,0.229346,-0.219886,0.072755,9.99,0
17920,29031.0,1.343395,-0.670173,1.017336,-0.558488,-1.588727,-0.719024,-0.958623,-0.044705,-0.425336,...,-0.387328,-0.665602,0.167892,0.399201,-0.089239,0.929285,-0.025028,0.023360,12.70,0

In [16]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,91573.081301,0.064013,0.110080,0.013955,-0.039630,-0.092977,0.012683,-0.093208,0.071954,0.021355,...,-0.007166,-0.030573,0.006182,0.020135,-0.00157,0.001209,0.014967,0.002843,0.000234,71.182785
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

We performed the above steps to check whether we got a good sample or a bad one. In case of a bad sample, the mean values are very different.

Split the dataset into Features and Targets

In [19]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
199963  133219.0 -0.560317  0.760319 -0.370783  0.210086  0.349194 -0.987098
123935   77118.0 -0.451835  0.263224  1.321221 -1.236147 -0.094430 -0.618279
162535  115206.0  1.945815 -0.091216 -0.316160  0.647254 -0.652998 -0.675337
52598    45548.0 -0.924485  0.998534  2.451302 -0.059466 -0.354458 -0.216718
17920    29031.0  1.343395 -0.670173  1.017336 -0.558488 -1.588727 -0.719024
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
199963  1.286161 -0.285350 -0.024329  ...  0.080568  0.255655  0.930750
123935  0.384252  0.249530 -0.072303  ... -0.261318  0.057578 -0.075263
162535 -0.641926 -0.077150  1.281694  ... -0.073922  0.022661  0.346840
52598   0.366242  0.053295 -0.313825  ... -0.046588  0.052620  0.042900
17920  -0.958623 -0.044705 -0.425336  ... -0.466043 -0.387328 -0.665602
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
199963 -0.211757 -0.159078 -0.215166  0.014941  0.372942  0.262387  135.80
123935  0.054694  0.209542 -0.477123  0.755813 -0.069600  0.011975   20.00
162535  0.231399 -0.027760 -0.336163 -0.421808  0.082608  0.005123    9.99
52598  -0.128338  0.411019 -0.061221  0.229346 -0.219886  0.072755    9.99
17920   0.167892  0.399201 -0.089239  0.929285 -0.025028  0.023360   12.70
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [20]:
print(Y)

199963    0
123935    0
162535    0
52598     0
17920     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data and Testing data

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training using Logistic Regression

In [23]:
model = LogisticRegression()

In [24]:
# Training the Logistic Regression Model with the Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

In [25]:
# Accuracy Score

# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [26]:
print('Accuracy on Training data: ', training_data_accuracy)

Accuracy on Training data:  0.9479034307496823

Model Accuracy is approximately 94%. This means that out of 100 transactions, for almost 94 transacitions, the model will correctly predict if the transaction is Legit or Fraud.

In [27]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [28]:
print('Accuracy on Test data: ', test_data_accuracy)

Accuracy on Test data:  0.9238578680203046

Here, we have calculated accuracy scores on both Training data and Testing data. This is because, if the accuracy score on Training data is different from the accuracy score on Testing data, our model will be Underfitted or Overfitted. Since, here the accuracy scores are almost similar, we can conclude that our model performance is good.

Building a Predictive System

In [29]:
input_data = (0, -1.359807134, -0.072781173, 2.536346738, 1.378155224, -0.33832077, 0.462387778, 0.239598554, 0.098697901, 0.36378697, 0.090794172, -0.551599533, -0.617800856, -0.991389847, -0.311169354, 1.468176972, -0.470400525, 0.207971242, 0.02579058, 0.40399296, 0.251412098, -0.018306778, 0.277837576, -0.11047391, 0.066928075, 0.128539358, -0.189114844, 0.133558377, -0.021053053, 149.62)

# input_data = (88672, -3.859880787, 2.632881312, -5.26426531, 3.446113147, -0.675231057, -1.904959454, -3.291040869, -0.985766041, -1.168114167, -3.93629417, 4.256564487, -6.600654481, 0.005626376, -9.958530919, 2.471357904,	-5.70014142, -6.388092738, -1.838159301, 2.993173507, -0.178626358, 1.664119015, 0.785075272, 0.068412486, 0.778960916, -0.86316592, -0.006809614, -1.06573404, 1.773326446, 1.18)

# changing input data to a numpy array
input_data_array = np.asarray(input_data)

# reshape the data as we are predicting label for only one instance
input_data_reshape = input_data_array.reshape(1,-1) 

prediction = model.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 1):
    print('Transaction is Fraud')
else:
    print('Transaction is Legit')

[0]
Transaction is Legit